extends layouts/_layout.pug

block variables
	- var activePage = 'busca';
	

block title
	title Blank Page - Vali Admin

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Blank Page
			p Start a beautiful journey heree

